.items-container{ 
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 3%;
}


.landingpage-item-image { 
    width: 270px;
    height: 295px;
    border-radius: 5px;
}

.landingpage-addtocart-button { 
    width: 45px;
    height: 35px;
    border-radius: 30%;
}

.landingpage-addtocart-button:hover { 
    background-color: #f78b26;
    cursor: pointer;
}

.landingpage-price { 
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.landingpage-item-name {
    color: rgb(85, 85, 85);
    opacity: 1;
}

.items-card { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NavLink {
    text-decoration: none;
    color: inherit;
  }
