.profile-sidebar { 
    display: flex;
    flex-direction: column;
    float: left;
    width: 10%;
    height: 100vh;
    margin-top: 2%;
    margin-left: 5%;
}

.profile-sidebar-buttons { 

}

.profile-itemimages { 
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.profile-itemimages:hover { 
  cursor: pointer;
}

.profile-items-container{ 
    display: flex;
    gap: 25px;
}

.profile-content-ul{ 
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}

.profilepage-user-icon { 
    width: 150px;
}

.profile-contents {
    width: 60%;
}

.profile-items-contents { 
    position: static;
}

.profilepage-user-container { 
  display: flex;
  flex-direction: column;
  gap: 10px
}


.create-item-form { 
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  width: 30%;
  padding-top: 8px;
  gap: 10px
}


.edit-item-form { 
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
}

.profilepage-user-content { 
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}



.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}







.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}



.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 20px;
  right: 20px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}
.button-53 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:after {
  content: "";
  background-color: #ffa34c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  transition: 0.2s;
}
