html { 
    background-color: white;
}



.page-main-container { 
    display: flex;
    justify-content: center;
}


#modal-content { 
    border-radius: 10px;
}

.commentmodal-main-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
