.categorie-filter-main-container {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;  background-color: #fff;
  padding: 50px;
  width: 40%;
  left: 25%;
  z-index: 1;
  }

  .categories-container {
    display: flex;
    height: 100%;
  }
  
  .main-categories-container {
    width: 30%;
    border-right: 1px solid #cac8c8;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
  }
  
  .sub-categories-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .main-cat-name {
    list-style: none;
    cursor: pointer;
  }

  .main-cat-name:hover {
    color: #ff7426;
  }
  
  .sub-cat-name {
    list-style: none;
  }
  
  .sub-cat-name li {
    margin-bottom: 10px;
    font-size: 10px;
    cursor: pointer;
  }

  .sub-cat-name:hover {
    color: #ff7426;
  }

  .subcat-image { 
    width: 100px;
    height: 80px;
    max-width: 100px;
    max-height: 80px;
    min-width: 100px;
    min-height: 80px;
    border-radius: 50%;
    border-color: #c7c4c4;
    border-style: solid;
  }

  .subcat-image:hover{ 
    border-radius: 45%;
  }
