.categorie-filter-main-container {
    position: absolute;
    left: 0;
    z-index: 999;
    width: 30%;
    padding: 60px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
    margin-left: 30%;
  }
  
  .categories-container {
    display: flex;
  }
  
  .main-categories-container {
    width: 30%;
    border-right: 1px solid #cac8c8;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .sub-categories-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-cat-name {
    list-style: none;
    cursor: pointer;
  }

  .main-cat-name:hover {
    color: #ff7426;
  }
  
  .sub-cat-name {
    list-style: none;
  }
  
  .sub-cat-name li {
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .sub-cat-name:hover {
    color: #ff7426;
  }

  .subcat-image { 
    width: 80px;
    height: 60px;
    max-width: 80px;
    max-height: 60px;
    min-width: 80px;
    min-height: 60px;
    border-radius: 50%;
    border-color: #c7c4c4;
    border-style: solid;
  }

  .subcat-image:hover{ 
    border-radius: 45%;
  }

  .skelethover{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
