body {
    font-family: "Georgia", Serif;
  }


.cartpage-item-container { 
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.cartpage-item-content { 
    display: flex;
    flex-direction: column;
    gap: 8px
}

.cartpage-leftside-container { 
    width: 50%;
}

.cartpage-item-image { 
    width: 250px;
    height: 200px;
}

.cartpage-main-container{ 
    margin-left: 5%;
    display: flex;
}

.cartpage-rightside-container { 
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 3%;
    margin-left: 10%;
}

.cartpage-select{ 
    width: 50px;
}

.cartpage-notfound { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartpage-rightside-content { 
    display: flex;
    padding: 8px;
    column-gap: 15px;
}

li { 
    list-style: none;
}
